/********************************/
/*ajout class pour les filtres*/
#filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px;
}

button {
  font-family: "Syne";
  font-size: 16px;
  color: #1d6154;
  border: #1d6154 solid;
  border-radius: 60px;
  padding: 15px;
  background-color: #ffffff;
}

button:hover {
  color: #ffffff;
  background-color: #1d6154;
  cursor: pointer;
}

/**************/
/* page login */
#login {
  color: inherit;
  text-decoration: none;
}

.page-background {
  background-color: rgb(255, 255, 241);
}

.login-form .submit {
  cursor: pointer;
}

.p-underline {
  text-decoration: underline;
  cursor: pointer;
}

/*_________________*/
.my-projects {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}

.direction-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*_________________*/
/*************************/
/* mode edition */
.edition {
  background-color: black;
  color: white;
  height: 59px;
  line-height: 59px;
  display: none;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  flex-direction: row;
}
.edition i {
  color: #ffffff;
  line-height: 59px;
}

.modifier {
  flex-direction: row;
}
.modifier i {
  line-height: 59px;
}
.modifier .button-modifier {
  border: none;
  color: black;
  font-weight: 400;
  font-family: "Work Sans";
  padding: 0;
}
.modifier .button-modifier:hover {
  background-color: transparent;
}

/***********/
/* modale */
.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 1px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

dialog {
  background-color: #ffffff;
  border-radius: 10px;
  border: none;
  width: 630px;
  height: 688px;
  color: black;
  position: relative;
  z-index: 2;
  top: 30px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}
dialog #arrow-left {
  cursor: pointer;
  position: relative;
  right: 300px;
  top: 5px;
}
dialog h3 {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px;
}
dialog .mini-picture {
  width: 100%;
}
dialog .mini-picture img {
  width: 100%;
}
dialog .mini-gallery {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
dialog .modal-border {
  border: 1px solid rgb(179, 179, 179);
  min-width: 80%;
}
dialog .button-addphoto {
  background-color: #1d6154;
  color: #ffffff;
}
dialog .button-addphoto:hover {
  background: rgb(167, 167, 167);
  border: solid rgb(167, 167, 167);
}
dialog .fa-trash-can {
  position: relative;
  width: 17px;
  height: 17px;
  bottom: 120px;
  left: 70px;
  cursor: pointer;
  color: #ffffff;
  background-color: black;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross-mark {
  cursor: pointer;
  position: relative;
  left: 300px;
  top: 5px;
}

.modale2 .input-file,
.modale2 .select-style,
.modale2 #titre {
  height: 51px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  border: none;
  cursor: pointer;
}
.modale2 .btn-valider {
  background-color: rgb(167, 167, 167);
  color: #ffffff;
  border: none;
  width: 237px;
  font-size: 16px;
  padding: 15px;
  cursor: pointer;
  position: relative;
  left: 130px;
  top: 10px;
  margin: 0;
}
.modale2 .btn-valider:hover {
  background-color: #1d6154;
}

.input-file {
  display: none;
}

.select-style {
  background-color: #ffffff;
  margin-bottom: 50px;
}

.space-btw {
  display: flex;
  justify-content: space-between;
}

.newphoto-container {
  width: 504px;
  height: 200px;
  border-radius: 3px;
  background-color: rgb(232, 241, 246);
  display: flex;
  justify-content: center;
}

.empty-input-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.empty-input-image i {
  font-size: 76px;
  color: rgb(185, 197, 204);
  margin-top: 15px;
}
.empty-input-image label {
  color: rgb(48, 102, 133);
  background-color: rgb(185, 197, 204);
  border: none;
  width: 173px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.form-new-work {
  width: 80%;
}

.error-identifiant {
  border: solid 2px red;
  padding: 10px;
  margin: 10px;
}

.inactive {
  display: none;
}/*# sourceMappingURL=style.css.map */